<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <header>
    <h1>Sistema supervisor de Recursos Humanos</h1>
  </header>
  

  <h6 class="display-4"> Bienvenido </h6>
  <h5> Solicitudes de vacaciones pendientes
    

  <p></p>
  <p></p>
  <p></p>
  
  <div *ngIf="usuarios">
<!-- al no tener modelo se ocupa ngif-->
  <table  class="table table-hover">
    <thead>
      <tr>
        <th scope="col">RUT</th>
        <th scope="col">Nombre</th>
        <th scope="col">Aprobar</th>
        <th scope="col">Rechazar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of usuarios.data; let i">
        <th scope="row">{{item.id}}</th>
        <td>{{item.name}}</td>
        <td > <button (click)= "function_mail_true(item.mail, item.id)" routerLink="/success" class="btn btn-primary"> Aprobar </button> </td>
        <td > <button (click)= "function_mail_false(item.mail, item.id)" routerLink="/success" class="btn btn-dark"> Rechazar </button> </td>
      </tr>
        
    </tbody>
   
  
  </table>
  
  <button type="button" routerLink="/inicio" class="btn btn-primary">Volver</button>
  
</div>
</h5>
<p></p>

<h6>Contacto RRHH:</h6>
  <p></p>
  <a href="#">enterprise.rrhh@enterprise.com</a>